{% extends 'base.html.j2' %}

{% block head %}
<title>Axial Bar Plot</title>
{% endblock %}

{% block content %}

<div class="row flex-nowrap">
    <div class="col-md-4 col-12 menu">
        <div class="card">
            <div class="card-header">
                <a class="pull-right" role="button"><i class="fa" id="hide-show"></i></a>
                <h1><a href="index.html" class="link-unstyled">ABCD1-knockout transcriptome</a></h1>
                <p><a id="download" href="#">Download SVG</a> | <a id="degenes" href="#">Download shown gene list</a></p>

                <nav>
                    <div class="nav nav-tabs card-header-tabs" role="tablist">
                        <a class="nav-item nav-link active">hBMEC</a>
                        <a class="nav-item nav-link" href="mouse_bar.html">mBMEC</a>
                        <a class="nav-item nav-link" href="lee_bar.html">Lee et. al. 2018 iPS</a>
                    </div>
                </nav>

            </div>
            <div class="tab-content collapse show" id="collapsable">
                <div class="tab-pane fade show active card-body" id="hBMEC" role="tabpanel">

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="q_threshold">-log₁₀ q-value threshold:</label>
                            <input type="number" class="form-control" id="q_threshold" value="0" />
                        </div>
                        <div class="form-group col-6">
                            <label for="fc_threshold">log₂ fold-change threshold:</label>
                            <input type="number" class="form-control" id="fc_threshold" value="0" />
                        </div>
                    </div>
                    <hr>
                    <input class="form-control" id="chooseGeneSet" placeholder="Choose a Gene Set..." />

                </div>
            </div>
        </div>
    </div>

    <div id="graph-container" class="col-md col-12"></div>

</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="data/human_differential.js"></script>
<script type="text/javascript" src="data/human_gene_sets.js"></script>
{# <script type="text/javascript" src="bar.js"></script> #}

<script type="text/javascript">

var bar = Bar(human_differential);

/////////////////////////////////////////////////////////////////////////////
             ///////    Select Gene Set / Thresholds   ///////
/////////////////////////////////////////////////////////////////////////////

var chooseGeneSet = document.getElementById("chooseGeneSet");
var chooseGeneSetform = new Awesomplete(chooseGeneSet, {
    list: Object.entries(human_gene_sets),
    maxItems: 30,
    replace: function (text) { this.input.value = text.label; }
});

document.addEventListener('awesomplete-selectcomplete', function(e) {
    selected_gene_set_name = e.text.label;
    selected_genes = e.text.value;
    bar.restart({'selected_gene_set_name_':selected_gene_set_name, 'selected_genes_':selected_genes});
});


$("#q_threshold").change(  function () { bar.restart({'q_threshold_': parseFloat(this.value)}) });
$("#fc_threshold").change( function () { bar.restart({'fc_threshold_': parseFloat(this.value)}) });


/////////////////////////////////////////////////////////////////////////////
                 ///////    Download SVG    ///////
/////////////////////////////////////////////////////////////////////////////

d3.select("#download").on("click", function() {

    d3.select(this)
      .attr("href", 'data:application/octet-stream;base64,' + btoa(unescape(encodeURIComponent(d3.select("#graph-container").html()))))
      .attr("download", "plot.svg")
})

$("#degenes").click(function() {

    d3.select(this)
      .attr("href", 'data:application/octet-stream;base64,' + btoa(_(data.filter(is_differential)).pluck('id').join("\n")))
      .attr("download", "DE_Genes.txt")
})

$('#hide-show').click(function(e) { $('.menu').toggleClass('hidden'); });

    </script>


{% endblock %}


